<ion-view view-title="Add event">
  	<ion-content>
  		<form ng-submit="doAddEvent()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Event Name</span>
          <input type="text" ng-model="addEventData.eventName">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add Event</button>
        </label>
      </div>
    </form>
	</ion-content>
</ion-view>