<ion-view view-title="Add package">
  	<ion-content>
  		<form ng-submit="doAddPackage()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Package Name</span>
          <input type="text" ng-model="addPackageData.packageName">
        </label>
        <label class="item item-input">
          <span class="input-label">Price</span>
          <input type="text" ng-model="addPackageData.price">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add Package</button>
        </label>
      </div>
    </form>
	</ion-content>
</ion-view>