<ion-view view-title="Add service">
  	<ion-content>
  		<form ng-submit="doAddService()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Service Name</span>
          <input type="text" ng-model="addServiceData.serviceName">
        </label>
        <label class="item item-input">
          <span class="input-label">Service Type</span>
          <input type="text" ng-model="addServiceData.serviceType">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add Service</button>
        </label>
      </div>
    </form>
	</ion-content>
</ion-view>