<ion-view view-title="Provider search">
  <ion-content>
  	<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Search services" ng-model="searchServices">

      </div>      
    </div>
  </form>
  	<h2>Available Services</h2>
    <ion-list>
      <ion-item ng-repeat="service in services | filter:searchServices track by $index" href="#/app/events/canvass/{{eventId}}/services/{{ service.id }}">
        {{service.name}}<br />
        {{service.type}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
