<ion-view view-title="Edit package">
  	<ion-content>
  		<form ng-submit="doEditPackage()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Package Name</span>
          <input type="text" ng-model="editPackageData.packageName">
        </label>
        <label class="item item-input">
          <span class="input-label">Price</span>
          <input type="text" ng-model="editPackageData.price">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Edit Package</button>
        </label>
      </div>
    </form>
	</ion-content>
</ion-view>