<ion-view view-title="Event canvass">
  <ion-content>
    <ion-item>
        <a style="" class="button button-positive button-block " href="#/app/events/canvass/{{ eventID }}/services">Search for a provider</a>
    </ion-item>

    <h1>Canvassed Providers</h1>
    <ion-list>
    	<ion-item ng-repeat="service in selectedEvent track by $index">
    		{{ service.name }}<br />
    		<a href="#app/canvass/hire/{{ eventID }}/{{ service.id }}">Hire</a>
    	</ion-item>
	</ion-list>
  </ion-content>
</ion-view>
