<ion-view view-title="Your events">
  <ion-content>

    <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Search event" ng-model="searchEvent">

      </div>      
    </div>
  </form>

  	<ion-item>
  		<a style="" class="button button-positive button-block " href="#/app/events/add">Add new event</a>
  	</ion-item>
    
    <ion-list>
      <ion-item ng-repeat="event in events | filter:searchEvent track by $index" href="#/app/events/canvass/{{ event.id }}">
        {{event.name}}<br />
        {{event.type}}
      </ion-item>
    </ion-list>
  
  </ion-content>
</ion-view>
