<ion-view view-title="Inbox">
  	<ion-content>
  		<ion-list>
  			<ion-item ng-repeat="message in messages track by $index" href="#/app/message/{{ message.sender }}">
  			{{ message.sender }} - {{ message.timestamp }}<br />
  			{{ message.content}}
  			</ion-item>
  		</ion-list>
  		
	</ion-content>
</ion-view>