<ion-view view-title="Messages">
  <ion-content>
    <!--{{ selectedmessages }}-->
    <ion-list>
      <ion-item ng-repeat="message in selectedmessages track by $index">
        {{ message.content }}
      </ion-item>
    </ion-list>

  	<form ng-submit="doSendMessage()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Recipient</span>
          <input type="text" ng-model="addMessageData.recipient">
        </label>
        <label class="item item-input">
          <span class="input-label">Message</span>
          <input type="text" ng-model="addMessageData.messageContent">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Send</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
