<ion-view view-title="Packages">
  <ion-content>
    <h2>Packages provided</h2>
    <p ng-if="userPortfolio.services.length == 0">{{ profileUsername }} has not yet offered services.</p>
        <ion-list>
            <ion-item ng-repeat="package in packages track by $index" href="#/app/events/canvass/{{event}}/services/{{service}}/{{package.id}}">
            {{package.package}}<br />
            PHP {{package.price}}
            </ion-item>
        </ion-list>
  </ion-content>
</ion-view>
