<ion-view view-title="{{ profileUsername }}">
  <ion-content>
  	<h1>{{ profileUsername }}</h1>
    <p>{{ userPortfolio.contact_number }}</p>
    <p>{{ userPortfolio.email }}</p>

    <h2>Events organized</h2>
    <p ng-if="userPortfolio.events.length == 0">{{ profileUsername }} has no organized events.</p>
        <ion-list ng-if="userPortfolio.events.length > 0">
            <ion-item ng-repeat="event in events track by $index">
            {{event.name}}<br />
            {{event.type}}
            </ion-item>
        </ion-list>

    <h2>Services provided</h2>
    <p ng-if="userPortfolio.services.length == 0">{{ profileUsername }} has not yet offered services.</p>
        <ion-list ng-if="userPortfolio.services.length > 0">
            <ion-item ng-repeat="service in services track by $index">
            {{service.name}}<br />
            {{service.type}}
            </ion-item>
        </ion-list>
    <h2>User Reviews</h2>
    <p ng-if="userPortfolio.reviews.length == 0">{{ profileUsername }} has not yet received any reviews.</p>
        <ion-list ng-if="userPortfolio.reviews.length > 0">
            <ion-item ng-repeat="review in reviews track by $index">
            {{review.content}}<br />
            {{review.vote}}<br />
            {{review.rating}}
            </ion-item>
        </ion-list>
    <form ng-submit="doSendReview()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Review</span>
          <input type="text" ng-model="addReviewData.review">
        </label>
        <label class="item item-input">
          <span class="input-label">Rating</span>
          <input type="text" ng-model="addReviewData.rating">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Send</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
