
  <ion-header-bar>
    <h1 class="title">Register</h1>

  </ion-header-bar>
  <ion-content>
    <form ng-submit="doRegister()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="regData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="regData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm Password</span>
          <input type="password" ng-model="regData.confirmPassword">
        </label>
        <label class="item item-input">
          <span class="input-label">Email Address</span>
          <input type="email" ng-model="regData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Contact Number</span>
          <input type="text" ng-model="regData.contact">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
      </div>
    </form>
  </ion-content>

