<ion-view view-title="Your services">
  <ion-content>
    <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Search services" ng-model="searchService">

      </div>      
    </div>
  </form>

  	<ion-item>
  		<a style="" class="button button-positive button-block " href="#/app/services/add">Add new service</a>
  	</ion-item>
    <ion-list>
      <ion-item ng-repeat="service in services | filter:searchService track by $index" href="#/app/services/{{ service.id }}">
        {{service.name}}<br />
        {{service.type}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
