<ion-view view-title="{{ selectedService.service[0].name }}">
  <ion-content>

    <p>Service Name: {{ serviceName }}</p>
    <p>Service Type: {{ serviceType }}</p>
    <p>Packages</p>
    	<a ng-if="ownerId == userID" style="" class="button button-positive button-clear" href="#/app/services/{{ selectedService.service[0].id }}/package/add">Add new package</a>
        <p ng-if="packages.length == 0">You currently have no packages.</p>
        <ion-list ng-if="packages.length > 0 && ownerId == userID">
            <ion-item ng-repeat="offer in packages track by $index" href="#/app/services/{{ selectedService.service[0].id }}/package/edit/{{ offer.id }}">
            {{offer.package}}<br />
            {{offer.price}}
            </ion-item>
        </ion-list>
        <ion-list ng-if="packages.length > 0 && ownerId != userID">
            <ion-item ng-repeat="offer in packages track by $index">
            {{offer.package}}<br />
            {{offer.price}}
            </ion-item>
        </ion-list>
    <p>Reviews</p>
    	<a ng-if="ownerId != userID" style="" class="button button-positive button-clear" href="#/writereview">Write a review</a>
    {{ selectedService.service[0].reviews }}
  </ion-content>
</ion-view>
