<!doctype html>
<title>Event-O</title>
<div class=page>
  <h1>Event-O</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('loginHtml') }}">log in</a>
  <h2>Register</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('registerHtml') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dt>Email:
      <dd><input type=text name=email>
      <dt>Phone Number:
      <dd><input type=text name=contact_number>
      <dd><input type=submit value=Register>
    </dl>
  </form>
  {% else %}
    <a href="#">log out</a>
  {% endif %}
  </div>
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('loginHtml') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Login>
    </dl>
  </form>
</div>
